{
   "extends":[
      "stylelint-config-standard",
      "stylelint-config-recommended-scss"
   ],
   "plugins":[
      "stylelint-order"
   ],
   "rules":{
      "at-rule-empty-line-before":[
         null,
         {
            "except":[
               "first-nested"
            ]
         }
      ],
      "at-rule-name-space-after":"always",
      "at-rule-no-vendor-prefix":true,
      "at-rule-semicolon-space-before":"never",
      "block-closing-brace-empty-line-before":null,
      "block-closing-brace-newline-after":null,
      "block-opening-brace-space-before":null,
      "color-named":"never",
      "declaration-block-semicolon-newline-after":"always-multi-line",
      "declaration-block-semicolon-newline-before":"never-multi-line",
      "declaration-block-semicolon-space-after":"always-single-line",
      "declaration-empty-line-before":null,
      "declaration-no-important":true,
      "font-family-name-quotes":"always-where-recommended",
      "font-weight-notation":"numeric",
      "function-url-no-scheme-relative":true,
      "function-url-quotes":"always",
      "indentation":4,
      "length-zero-no-unit":true,
      "max-empty-lines":2,
      "max-line-length":null,
      "media-feature-name-no-vendor-prefix":true,
      "media-feature-parentheses-space-inside":"never",
      "media-feature-range-operator-space-after":"always",
      "media-feature-range-operator-space-before":"never",
      "no-descending-specificity":null,
      "no-duplicate-selectors":true,
      "number-leading-zero":"never",
      "order/properties-order":[
         "align-items",
         "align-self",
         "animation",
         "animation-delay",
         "animation-direction",
         "animation-duration",
         "animation-iteration-count",
         "animation-name",
         "animation-play-state",
         "animation-timing-function",
         "background",
         "background-attachment",
         "background-clip",
         "background-color",
         "background-image",
         "background-origin",
         "background-position",
         "background-position-x",
         "background-position-y",
         "background-repeat",
         "background-size",
         "border",
         "border-collapse",
         "border-color",       
         "border-spacing",
         "border-style",
         "border-width",
         "border-top",
         "border-top-color",
         "border-top-style",
         "border-top-width",
         "border-right",
         "border-right-color",
         "border-right-style",
         "border-right-width",
         "border-bottom",
         "border-bottom-color",
         "border-bottom-style",
         "border-bottom-width",
         "border-left",
         "border-left-color",
         "border-left-style",
         "border-left-width",
         "border-radius",
         "border-top-left-radius",
         "border-top-right-radius",
         "border-bottom-right-radius",
         "border-bottom-left-radius",
         "border-image",
         "border-image-outset",
         "border-image-repeat",
         "border-image-slice",
         "border-image-source",
         "border-image-width",
         "box-shadow",
         "box-sizing",
         "caption-side",
         "clear",
         "clip",
         "color",
         "content",
         "counter-increment",
         "counter-reset",
         "cursor",
         "display",
         "empty-cells",
         "filter",
         "flex",
         "flex-align",
         "flex-basis",
         "flex-direction",
         "flex-flow",
         "flex-grow",
         "flex-order",
         "flex-pack",
         "flex-wrap",
         "float",
         "font",
         "font-effect",
         "font-emphasize",
         "font-emphasize-position",
         "font-emphasize-style",
         "font-family",
         "font-size",
         "font-size-adjust",
         "font-smooth",
         "font-stretch",
         "font-style",
         "font-weight",
         "font-variant",
         "height",
         "hyphens",
         "-ms-interpolation-mode",
         "justify-content",
         "letter-spacing",
         "line-height",
         "list-style",
         "list-style-image",
         "list-style-position",
         "list-style-type",
         "margin",
         "margin-top",
         "margin-right",
         "margin-bottom",
         "margin-left",
         "max-height",
         "max-width",
         "min-height",
         "min-width",
         "nav-down",
         "nav-index",
         "nav-left",
         "nav-right",
         "nav-up",
         "opacity",
         "order",
         "outline",
         "outline-color",
         "outline-offset",
         "outline-style",
         "outline-width",
         "overflow",
         "-webkit-overflow-scrolling",
         "-ms-overflow-style",
         "overflow-wrap",
         "overflow-x",
         "-ms-overflow-x",
         "overflow-y",
         "-ms-overflow-y",
         "padding",
         "padding-top",
         "padding-right",
         "padding-bottom",
         "padding-left",
         "pointer-events",
         "position",
         "top",
         "right",
         "bottom",
         "left",
         "quotes",
         "resize",
         "tab-size",
         "table-layout",
         "text-align",
         "text-align-last",
         "text-decoration",
         "text-emphasis",
         "text-emphasis-color",
         "text-emphasis-position",
         "text-emphasis-style",
         "text-indent",
         "text-justify",
         "text-outline",
         "text-overflow",
         "-ms-text-overflow",
         "text-overflow-ellipsis",
         "text-overflow-mode",
         "text-shadow",
         "-webkit-text-size-adjust",
         "-ms-text-size-adjust",
         "text-transform",
         "text-wrap",
         "touch-action",
         "-ms-touch-action",
         "transform",
         "transform-origin",
         "transition",
         "transition-delay",
         "transition-duration",
         "transition-property",
         "transition-timing-function",
         "user-select",
         "vertical-align",
         "visibility",
         "white-space",
         "width",
         "word-break",
         "-ms-word-break",
         "word-spacing",
         "word-wrap",
         "-ms-word-wrap",
         "z-index",
         "zoom"
      ],
      "property-no-vendor-prefix":true,
      "rule-empty-line-before":null,
      "selector-attribute-quotes":"always",
      "selector-list-comma-newline-after":"always",
      "selector-list-comma-newline-before":"never-multi-line",
      "selector-list-comma-space-after":"always-single-line",
      "selector-list-comma-space-before":"never-single-line",
      "selector-max-attribute":2,
      "selector-max-class":4,
      "selector-max-combinators":4,
      "selector-max-compound-selectors":4,
      "selector-max-empty-lines":1,
      "selector-max-id":0,
      "selector-max-specificity":null,
      "selector-max-type":2,
      "selector-max-universal":1,
      "selector-no-qualifying-type":true,
      "selector-no-vendor-prefix":true,
      "string-quotes":"double",
      "value-keyword-case":"lower",
      "value-list-comma-newline-after":"never-multi-line",
      "value-list-comma-newline-before":"never-multi-line",
      "value-list-comma-space-after":"always",
      "value-no-vendor-prefix":true
   }
}