// Anchor
// ––––––––––––––––––––––––––––––––––––––––––––––––––

a {
  color: $link-color;
  text-decoration: $link-decoration;
  background-color: transparent;
  transition: $link-transition;

  &:hover {
    color: $link-color-hover;
    text-decoration: $link-decoration-hover;
  }
}
