// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
// NOTE
// html is set to 62.5% so that all the REM measurements throughout karma-css
// are based on 10px sizing. So basically 1.5rem = 15px :)

/* box sizing */
* {
    &,
	&::before,
	&::after {
		box-sizing: border-box;
    }
}

/* reset margin */
* {
    margin: 0;
}

/* basic document styling */
html {
    font-size: 62.5%;
}

body {
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: $base-font-weight;
    font-family: $base-font-family;
    color: $font-color;
    background: $body-background;
}
