// Base Styles
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// html is set to 62.5% so that all the REM measurements throughout karma-css
// are based on 10px sizing. So basically 1.5rem = 15px :)

// box sizing  & reset margin
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    &::before,
    &::after { box-sizing: border-box; }
}

// Basic document styling
html {
    font-size: 62.5%;
    line-height: $base-line-height;
}

body {
    background: $body-background;
    color: $font-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    @if $body-overflow-x-hidden {
        overflow-x: hidden;
    }
    position: relative;
}

main { display: block; }
