// Button
//––––––––––––––––––––––––––––––––––––––––––––––––––

$button-padding-y: ($button-height - $button-font-size) / 2 - .2rem;

// default buttons and inputs
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    vertical-align: top;
    height: $button-height;
    padding: $button-padding-y $button-padding-x;
    color: $font-color;
    text-align: center;
    font-family: $font-family;
    font-size: $button-font-size;
    font-weight: 600;
    line-height: 1.15;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: color(white);
    border-radius: $global-radius;
    border: 1px solid $border-color;
    cursor: pointer;
    box-sizing: border-box;
    user-select: none;
    &:hover,
    &:focus {
        color: $font-color;
        border-color: darken($border-color, $darken-hover-percent);
        outline: 0;
    }
}

// button variations
@each $button, $colors in $buttons {

    // start with a border x % of the main background
    $default-border-color: darken(nth($colors, 1), 5%);

    .button.button-#{$button},
    button.button-#{$button},
    input[type="submit"].button-#{$button},
    input[type="reset"].button-#{$button},
    input[type="button"].button-#{$button} {
        color: nth($colors, 2);
        background-color: nth($colors, 1);
        border-color: $default-border-color;
        &:hover,
        &:focus {
            color: nth($colors, 2);
            background-color: darken(nth($colors, 1), $darken-hover-percent);
            border-color: darken($default-border-color, $darken-hover-percent);
            outline: 0;
        }
    }
}