// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––

@use 'sass:color';
@use 'sass:list';
@use 'sass:math';

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;	// stylelint-disable-line property-no-vendor-prefix
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

// default buttons style
.button {
  @include button;

  $btn-border-hover: color.adjust($button-default-border-color, $lightness: - $darken-hover-percent);
  $btn-bg-hover: color.adjust($button-default-bg-color, $lightness: - $darken-hover-percent);

  @include button-hover($button-default-font-color, $btn-bg-hover, $btn-border-hover);

  $btn-font-hover: color.adjust($button-default-font-color, $lightness: - $darken-hover-percent);

  &.button-outline {
    background-color: transparent;
    transition: $button-transition, color linear $animation-speed-fast;

    @include button-hover($btn-font-hover, transparent, $btn-border-hover);
  }

  &.button-clear {
    background-color: transparent;
    border-color: transparent;
    transition: $button-transition, color linear $animation-speed-fast;

    @include button-hover($btn-font-hover, transparent, transparent);
  }
}

// button color variations
@each $button, $colors in $buttons {
  // start with a border color half of the $darken-hover-percent to get a slight visual contrast
  $btn-border: color.adjust(list.nth($colors, 1), $lightness: - math.div($darken-hover-percent, 2));
  $btn-font: list.nth($colors, 2);
  $btn-bg: list.nth($colors, 1);

  // then when we roll over we will user the full percentage to adjust the colors
  $btn-border-hover: color.adjust($btn-border, $lightness: - $darken-hover-percent);
  $btn-bg-hover: color.adjust($btn-bg, $lightness: - $darken-hover-percent);

  // basic coloured button
  .button.button-#{$button} {
    @include button-color-variation($btn-font, $btn-bg, $btn-border);
    @include button-hover($btn-font, $btn-bg-hover, $btn-border-hover);
  }

  // outline transparent background, use button color for font color
  .button.button-outline.button-#{$button} {
    @include button-color-variation($btn-bg, transparent, $btn-bg);
    @include button-hover($btn-bg-hover, transparent, $btn-bg-hover);
  }

  // clear transparent background and border, use button color for font color
  .button.button-clear.button-#{$button} {
    @include button-color-variation($btn-bg, transparent, transparent);
    @include button-hover($btn-bg-hover, transparent, transparent);
  }
}
