// Code
//––––––––––––––––––––––––––––––––––––––––––––––––––

code {
    font-family: $code-font-family;
    padding: .2rem .5rem;
    font-size: 90%;
    white-space: nowrap;
    background: $code-background;
    border: 1px solid $border-color;
    border-radius: $global-radius;
}

pre > code {
    padding: 1rem 1.5rem;
    display: block;
    white-space: pre;
    overflow-x: auto;
}
