// Code
//––––––––––––––––––––––––––––––––––––––––––––––––––

code, 
kbd, 
pre, 
samp {
    font-family: $code-font-family;
}

// inline code
code {
    background: $code-background;
    border: $code-border-width solid $code-border-color;
    border-radius: $code-border-radius;
    color: $code-font-color;
    font-size: $code-font-size;
    padding: $code-padding;
    word-break: break-word;
}

// code block
pre {
    background: $code-background;
    border: $code-border-width solid $code-border-color;
    border-radius: $code-border-radius;
    color: $code-font-color;
    display: block;
    font-size: $pre-font-size;
    margin-bottom: $pre-margin-bottom;
    overflow-x: auto;
    padding: $pre-padding;
    white-space: pre;

    // inline code within
    code {
        font-size: inherit;
        color: inherit;
        word-break: normal;
    }

}
