// Code
//––––––––––––––––––––––––––––––––––––––––––––––––––

code, kbd, pre, samp {
    font-family: $code-font-family;
}

code {
    padding: $code-inline-padding;
    white-space: nowrap;
    background: $code-background;
    border: $code-border-width solid $code-border-color;
    border-radius: $code-border-radius;
}

pre {
    margin-bottom: $pre-margin-bottom;
}

pre > code {
    padding: $code-block-padding;
    display: block;
    white-space: pre;
    overflow-x: auto;
}