// Form
//––––––––––––––––––––––––––––––––––––––––––––––––––

form {
    margin-bottom: $generic-margin-bottom;
}

input {
    &[type="date"],
    &[type="datetime"],
    &[type="datetime-local"],
    &[type="email"],
    &[type="month"],
    &[type="number"],
    &[type="password"],
    &[type="search"],
    &[type="tel"],
    &[type="text"],
    &[type="url"],
    &[type="week"] {
        appearance: none; // remove awkward defaults on ios
        @include input;
        @include input-size; 
        @include input-width;
        @include input-focus;
    }
}

textarea {
    appearance: none; // remove awkward defaults on ios
    @include input;
    @include input-width;
    @include input-focus;
}

select {
    @include input;
    @include input-size; 
    @include input-width;
    @include input-focus;
    &[multiple] {
        height: auto;
    }
}

label,
legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: $label-font-weight;
}

fieldset {
    padding: 0;
    border-width: 0;
    margin-bottom: $input-margin-bottom;
}

// only set some simple margin as components will handle the style better
// https://github.com/AccentDesign/karma-css-components
input {
    &[type="checkbox"],
    &[type="radio"] {
        margin-right: 1rem;
    }
}
