// Form
//––––––––––––––––––––––––––––––––––––––––––––––––––

// try to calculate the height for the inputs
// so the likes of date, select are the same as basic ones
$input-height: round(($field-padding-y * 2) + ($field-font-size * 1.25) + .2rem);

input {
    &[type="email"],
    &[type="number"],
    &[type="search"],
    &[type="text"],
    &[type="date"],
    &[type="month"],
    &[type="week"],
    &[type="datetime"],
    &[type="datetime-local"],
    &[type="tel"],
    &[type="url"],
    &[type="password"] {
        appearance: none; // remove awkward defaults on ios
        font-size: $field-font-size;
        padding: $field-padding-y $field-padding-x;
        line-height: 1.25;
        background-color: $input-background;
        border: 1px solid $border-color;
        border-radius: $global-radius;
        box-shadow: none;
        box-sizing: border-box;
        height: $input-height;
        &:focus {
            border: 1px solid color(primary);
            outline: 0;
        }
    }
}

textarea,
select {
    font-size: $field-font-size;
    padding: $field-padding-y $field-padding-x;
    line-height: 1.25;
    background-color: $input-background;
    border: 1px solid $border-color;
    border-radius: $global-radius;
    box-shadow: none;
    box-sizing: border-box;
    &:focus {
        border: 1px solid color(primary);
        outline: 0;
    }
}

select:not([multiple]) {
    height: $input-height;
}

label,
legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: $label-font-weight;
}

fieldset {
    padding: 0;
    border-width: 0;
}

// try so make sensible defaults for radios and checkboxes
input {
    &[type="checkbox"],
    &[type="radio"] {
        margin-right: 1.5rem;
        display: inline;
    }
}

// either the label can carry the class
label {
    &.checkbox,
    &.radio {
        font-weight: normal;
    }
}

// or label can be a sibling
.radio,
.checkbox {
    label {
        font-weight: normal;
    }
}
