// Grid
// ––––––––––––––––––––––––––––––––––––––––––––––––––

@if $enable-grid-classes {

  // Containers
  .container {
    @include make-container();
    @include make-container-max-widths();
  }

  // Fluid container
  .container-fluid {
    @include make-container();
  }

  // Row
  .row {
    @include make-row();
  }

  // No gutters.
  .no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

  // Columns
  @include make-grid-columns();
}
