// HR
// ––––––––––––––––––––––––––––––––––––––––––––––––––

hr {
    border: 0;
    border-top: $hr-border-width solid $hr-border-color;
    box-sizing: content-box;
    height: 0;
    margin: $hr-margin;
    overflow: visible;
}
