// List
// ––––––––––––––––––––––––––––––––––––––––––––––––––

ul {
  margin-bottom: $ul-list-margin-bottom;
  padding-left: $ul-list-padding-left;
  list-style: $ul-list-style;
}

ol {
  margin-bottom: $ol-list-margin-bottom;
  padding-left: $ol-list-padding-left;
  list-style: $ol-list-style;
}

ul ul,
ul ol {
  margin: $ul-list-nested-margin;
}

ol ol,
ol ul {
  margin: $ol-list-nested-margin;
}

dl {
  margin-bottom: $dl-margin-bottom;

  dt {
    margin: $dt-margin;
    font-weight: 600;
  }

  dd {
    margin: $dd-margin;
  }
}
