// List
//––––––––––––––––––––––––––––––––––––––––––––––––––

ul {
    padding-left: $ul-list-padding-left;
    list-style: $ul-list-style;
    margin-bottom: $generic-margin-bottom;

    ul, ol {
        margin: 0 0 0 2rem;
    }
}

ol {
    padding-left: $ol-list-padding-left;
    list-style: $ol-list-style;
    margin-bottom: $generic-margin-bottom;
    
    ol, ul {
        margin: 0 0 0 2rem;
    }   
}

dl {
    margin-bottom: $generic-margin-bottom;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: .5rem;
}