// List
//––––––––––––––––––––––––––––––––––––––––––––––––––

ul {
    padding-left: $ul-list-padding-left;
    list-style: $ul-list-style;
    margin-bottom: $ul-list-margin-bottom;

    ul, ol {
        margin: $ul-list-nested-margin;
    }
}

ol {
    padding-left: $ol-list-padding-left;
    list-style: $ol-list-style;
    margin-bottom: $ol-list-margin-bottom;
    
    ol, ul {
        margin: $ol-list-nested-margin;
    }   
}

dl {
    margin-bottom: $dl-margin-bottom;

    dt {
        font-weight: bold;
        margin: $dt-margin;
    }
    
    dd {
        margin: $dd-margin;
    }
}