// Spacing
//––––––––––––––––––––––––––––––––––––––––––––––––––

input:not(.button):not([type=checkbox]):not([type=radio]),
textarea,
select,
fieldset {
    margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
    margin-bottom: 1.5rem;
}
