// Table
//––––––––––––––––––––––––––––––––––––––––––––––––––

table {
    background-color: $table-background-color;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: $table-font-size;
    margin-bottom: $generic-margin-bottom;
    max-width: 100%;
    width: 100%;
}

caption {
    padding: $table-cell-padding;
}

th {
    padding: $table-cell-padding;
    text-align: left;
}

td {
    border-top: $table-border-width solid $table-border-color;
    padding: $table-cell-padding;
    text-align: left;
}

// visual alternatives
.table-bordered {
    border: solid $table-border-width $table-border-color;
}

.table-headed th {
    background-color: $table-headed-color;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: $table-striped-color;
}

.table-hover tbody tr:hover {
    background-color: $table-hover-color;
}