// Table
//––––––––––––––––––––––––––––––––––––––––––––––––––

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    padding: $table-cell-padding;
    text-align: left;
}

td {
    border-top: 1px solid $border-color;
}

// visual alternatives
.table-bordered {
    border: solid 1px $border-color;
}

.table-headed th {
    background-color: $table-headed-color;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: $table-striped-color;
}

.table-hover tbody tr:hover {
    background-color: $table-hover-color;
}