// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
}

h1 {
    font-size: $h1-font-size;
    line-height: 1.2;
    letter-spacing: -.1rem;
}

h2 {
    font-size: $h2-font-size;
    line-height: 1.25;
    letter-spacing: -.1rem;
}

h3 {
    font-size: $h3-font-size;
    line-height: 1.3;
    letter-spacing: -.1rem;
}

h4 {
    font-size: $h4-font-size;
    line-height: 1.35;
    letter-spacing: -.08rem;
}

h5 {
    font-size: $h5-font-size;
    line-height: 1.5;
    letter-spacing: -.05rem;
}

h6 {
    font-size: $h6-font-size;
    line-height: 1.6;
    letter-spacing: -.02rem;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-size: 65%;
    line-height: 1;
}

p {
    margin-top: 0;
}
