// Clearfix
//––––––––––––––––––––––––––––––––––––––––––––––––––



/*
 * used to clear a floating element
 *
 * Usage:
 * @include clearfix;
 *
 */
@mixin clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}