// Clearfix
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// used to clear a floating element
//
// Usage:
// @include clearfix;
//
@mixin clearfix {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}
