// Flip
//––––––––––––––––––––––––––––––––––––––––––––––––––

// flip an elemrnt on it's x and/or y axis
@mixin flip($x: false, $y: false) {
    $scaleX: 1;
    $scaleY: 1;
    @if $x {
        $scaleX: -1;
    }
    @if $y {
        $scaleY: -1;
    }
    transform: scale($scaleX, $scaleY);
}