// Flip
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// flip an element on its axis
// ...
// Usage:
// horizontally only:
// @include flip(true, false);
// vertically only:
// @include flip(false, true);
// horizontally and vertically:
// @include flip(true, true);
// ...
@mixin flip($x: false, $y: false) {
  $scale-x: 1;
  $scale-y: 1;

  @if $x {
    $scale-x: -1;
  }

  @if $y {
    $scale-y: -1;
  }

  transform: scale($scale-x, $scale-y);
}
