// Image
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// base image fluid mixin
// ...
// Usage:
// @include img-fluid;
// ...
@mixin img-fluid() {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 1px;
}
