// Inputs
//––––––––––––––––––––––––––––––––––––––––––––––––––


// base input css
@mixin input {
    font-size: $input-font-size;
    color: $input-font-color;
    padding: $input-padding-y $input-padding-x;
    line-height: 1.25;
    background: $input-background;
    box-shadow: none;
    box-sizing: border-box;
    margin-bottom: $input-margin-bottom;
    border: $input-border;
    border-radius: $input-border-radius;
    transition: $input-transition;
}

// input focus state 
@mixin input-focus(
        $background: $input-background-focus, 
        $border-color: $input-border-color-focus) {
    &:focus {
        background: $background;
        border-color: $border-color;
        outline: 0;
    }
}

// returns the width of the form fields based on the variable used
@mixin input-width {
    @if $input-use-full-width {
        width: 100%;
    } @else {
        max-width: 100%;
    }
}

// create an input size variation
@mixin input-size(
        $padding-y: $input-padding-y, 
        $padding-x: $input-padding-x, 
        $font-size: $input-font-size, 
        $border-width: .1rem) {
    font-size: $font-size;
    padding: $padding-y $padding-x;
    // height is set to force selects, and all date type inputs as height varies
    height: ($padding-y * 2) + ($font-size * 1.25) + ($border-width * 2);
}