// Inputs
//––––––––––––––––––––––––––––––––––––––––––––––––––

// mixins to create form inputs



/* 
 * create a basic input
 *
 * Usage:
 * @include input;
 *
 */
@mixin input {
    font-size: $input-font-size;
    color: $input-font-color;
    padding: $input-padding-y $input-padding-x;
    line-height: $input-line-height;
    background: $input-background;
    box-shadow: none;
    box-sizing: border-box;
    margin-bottom: $input-margin-bottom;
    border: $input-border-width solid $input-border-color;
    border-radius: $input-border-radius;
    transition: $input-transition;
}



/* 
 * input styles for focus state
 *
 * Usage:
 * @include input-focus(color(white), color(primary));
 *
 */
@mixin input-focus(
        $background: $input-background-focus, 
        $border-color: $input-border-color-focus) {
    &:focus {
        background: $background;
        border-color: $border-color;
        outline: 0;
    }
}



/*
 * used internally to set the default width of form fields 
 * based on the $input-use-full-width variable
 *
 */
@mixin input-width {
    @if $input-use-full-width {
        width: 100%;
    } @else {
        max-width: 100%;
    }
}



/* 
 * input size variation
 *
 * Usage:
 * @include input-size(1rem, 1rem, 15px);
 *
 */
@mixin input-size(
        $padding-y: $input-padding-y, 
        $padding-x: $input-padding-x, 
        $font-size: $input-font-size) {
    font-size: $font-size;
    padding: $padding-y $padding-x;
}