// Margin
//––––––––––––––––––––––––––––––––––––––––––––––––––

// axis = ('', 'x', 'y', 't', 'r', 'b', 'l')
// sizes in variables
// @include margin('x', 1.5rem):
//      margin-left: 1.5rem; margin-right: 1.5rem

@mixin margin($axis: '', $rem: 0) {
    @if $axis == 'x' {
        margin: {
            left: $rem;
            right: $rem;
        }
    } @else if $axis == 'y' {
        margin: {
            top: $rem;
            bottom: $rem;
        }
    } @else if $axis == 't' {
        margin-top: $rem;
    } @else if $axis == 'r' {
        margin-right: $rem;
    } @else if $axis == 'b' {
        margin-bottom: $rem;
    } @else if $axis == 'l' {
        margin-left: $rem;
    } @else {
        margin: $rem;
    }
}
