// Padding
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// setting padding
// ...
// Usage:
// ...
// >> @include padding('x', 1.5rem)
// padding-left: 1.5rem; padding-right: 1.5rem
// ...
// >> @include padding('r', 1.5rem)
// padding-right: 1.5rem
// ...
// >> @include padding;
// padding: 0;
// ...
@mixin padding($axis: "", $rem: 0) {
  @if $axis == "x" {
    padding: {
      right: $rem;
      left: $rem;
    }
  } @else if $axis == "y" {
    padding: {
      top: $rem;
      bottom: $rem;
    }
  } @else if $axis == "t" {
    padding-top: $rem;
  } @else if $axis == "r" {
    padding-right: $rem;
  } @else if $axis == "b" {
    padding-bottom: $rem;
  } @else if $axis == "l" {
    padding-left: $rem;
  } @else {
    padding: $rem;
  }
}
