// Push Auto
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Useful for centrally aligning al element
// though the margin mixin can do the same thing.
//
// Usage:
// @include push--auto;
//
@mixin push--auto {
    margin: {
        right: auto;
        left: auto;
    }
}
