// Responsive Ratio
//––––––––––––––––––––––––––––––––––––––––––––––––––

// creating scalable elements (usually images / background images) that maintain a ratio

@mixin responsive-ratio($x, $y, $pseudo: false) {
    $padding: unquote( ( $y / $x ) * 100 + '%' );
    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    } @else {
        padding-top: $padding;
    }
}
