// Truncate
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// truncate text at defined width
//
// Usage:
// @include truncate(100px);
//
@mixin truncate($truncation-boundary) {
  max-width: $truncation-boundary;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
