// Truncate
//––––––––––––––––––––––––––––––––––––––––––––––––––

// truncate text at defined width

@mixin truncate($truncation-boundary) {
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}