.example-grid {
    background: white;
    border: 1px solid #eeeeee;
    margin-bottom: 2.5rem;
    padding: 2rem;
}
.example-grid [class^=col] {
    background-color: #f0f0f0;
    border: 1px solid #e6e6e6;
    padding-top: .75rem;
    padding-bottom: .75rem;
}
.mb-2h {
    margin-bottom: 2.5rem;
}