// Align
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.align-top                  { vertical-align: top; }
.align-bottom               { vertical-align: bottom; }
.align-middle               { vertical-align: middle; }
.align-baseline             { vertical-align: baseline; }
