// Cursor
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.disabled                   { cursor: not-allowed; }
.move                       { cursor: move; }
.pointer                    { cursor: pointer; }
