/**
 * Display
 */

.display-block { display: block; }
.display-flex { display: flex; }
.display-grid { display: grid; }
.display-hidden { display: none; }
.display-inline { display: inline; }
.display-inline-block { display: inline-block; }
.display-inline-flex { display: inline-flex; }
.display-table { display: table; }
.display-table-cell { display: table-cell; }
