// Helpers
//––––––––––––––––––––––––––––––––––––––––––––––––––

/* clearfix */
.clearfix                   { @include clearfix; }

/* width and height */
.full-height                { height: 100%; }
.full-visual-height         { height: 100vh; }
.full-width                 { width: 100%; box-sizing: border-box; }
.max-full-width             { max-width: 100%; box-sizing: border-box; }

/* alignment */
.pull-left                  { float: left !important; }
.pull-right                 { float: right !important; }
.push-auto                  { @include push--auto; }

.text-left                  { text-align: left; }
.text-right                 { text-align: right; }
.text-center                { text-align: center; }
.text-just                  { text-align: justify; }

.align-top                  { vertical-align: top; }
.align-bottom               { vertical-align: bottom; }
.align-middle               { vertical-align: middle; }
.align-baseline             { vertical-align: baseline; }
.align-self-center          { align-self: center; }

/* positions */
.fixed                      { position: fixed; }
.relative                   { position: relative; }
.absolute                   { position: absolute; }

/* list */
.list-style-none            { list-style: none !important; }

/* typography */
.muted                      { opacity: .7; }
.nowrap                     { white-space: nowrap; }
.uppercase                  { text-transform: uppercase; }
.small                      { font-size: 80%; }

/* display */
.hidden                     { display: none !important; }
.inline                     { display: inline; }
.inline-block               { display: inline-block; }
.block                      { display: block; }
.flex                       { display: flex; }

/* display prefix to avoid confusion with any table.table */
.display-table              { display: table; }
.display-table-cell         { display: table-cell; }

/* scroll */
.scroll-x                   { overflow-x: auto; }

/* misc */
.margin-zero                { margin: 0; }
