// List
//––––––––––––––––––––––––––––––––––––––––––––––––––

.list-style-none {
  list-style: none !important; // stylelint-disable-line declaration-no-important
}

.list-style-reset {
  padding: 0;
  margin: 0;
  list-style: none !important; // stylelint-disable-line declaration-no-important
}
