// List
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.list-style-none {
    list-style: none !important; // stylelint-disable-line declaration-no-important
}

.list-style-reset {
    list-style: none !important; // stylelint-disable-line declaration-no-important
    margin: 0;
    padding: 0;
}
