/**
 * Text
 */

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }

.strong { @extend strong; }
.lead { font-weight: 300; }
.muted { --color: var(--muted-color); }
.nowrap { white-space: nowrap; }
.small { @extend small; }
.uppercase { text-transform: uppercase; }
