/**
 * Visibility
 */

@import "../mixins/breakpoint";

// Creates hidden helpers for each breakpoint
@each $bp in map-keys($breakpoints) {

  .hidden-#{$bp}-up {
    @include media-breakpoint-up($bp) {
      display: none !important;
    }
  }

  .hidden-#{$bp}-down {
    @include media-breakpoint-down($bp) {
      display: none !important;
    }
  }

  .hidden-#{$bp} {
    @include media-breakpoint-only($bp) {
      display: none !important;
    }
  }
}
